{% extends 'base.html' %}

{% block content %}
<div class="su-auth-container">
    
    <h2 class="su-auth-title">Login to STEP<span>UP</span></h2>
    
    <form method="post" class="su-auth-form">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit" class="su-auth-btn">
            Sign In
        </button>
    </form>
    
    <div class="su-auth-footer">
        <p>
            Don't have an account? 
            <a href="{% url 'register' %}">Create one here</a>
        </p>
    </div>
</div>
{% endblock %}